{% extends "directMessage/layout.html" %}
    {% block body %}
    <a id="back" href="{% url 'profile' %}"> Back To Conversations</a>
    <div>
        <img class="profile_img center" src="{{to.profile_image.url}}"/>
        <h2 class="center">{{to}}</h2>
    </div>
    <!-- <img src="../static/img/arrow.png"> -->
   <div id="dm_view">
       <div class="center" id="user_to">
       </div>
       <hr>
        <div id='dm_div'  class="center">
        <ul>
        {% for message in conv %}
    
           {% if request.user != message.sender.profile %}
           <li class="from">
           <p class="from">{{message.message}}</p>
            <p class="when">{{message.date}}</p>
            </li>
           {% else %}
           <li class="to">
               <div>
            <p class="to">{{message.message}}</p>
            <p class="when" style="float: right;">{{message.date}}</p>
            </div>
            </li>
            {% endif %}
 
        {% endfor %}
        </ul>
        </div>
        </div>
        {% csrf_token %}
        <div id='keyboard' class="center">
           <textarea id='message_content'></textarea>
            <input id='send_message' data-message="{{to.profile.username}}" type="button">
        </div>

    </div>
      {% endblock %}