{% extends "directMessage/layout.html" %}
    {% block body %}
    <div id="whole_page">
        <div id="dm_header">
            <a id="back" href="{% url 'profile' %}"> Back To Conversations</a>
            <img class="profile_img_dm center" src="{{to.profile_image.url}}"/>
            <h2 id="h2_to" class="center">{{to}}</h2><br>
            <p id="dm_last_seen" class="center"></p>
        </div>
        <div id="resize">
            <div id="dm_view">
                <div class="center" id="user_to"></div>
                <div id="dm_div" class="center">
                    <ul id="dm_ul"></ul>
                </div>
            </div>
            {% csrf_token %}
            <div id="keyboard" class="center">
                <textarea id="message_content"></textarea>
                <input id="send_message" data-message="{{to.profile.username}}" type="button">
            </div>
        </div>
    </div>

    {% endblock %}