{% extends "directMessage/layout.html" %}

    {% block body %}
    <div class="center">
    <div id="banner">
        <h1>hey <span id="chat">{{current_user}}</span>, let's chat!</h1>
        <p style="text-align: center;">reach out to an old friend, maybe meet someone new?</p>
    </div>  
   <!-- {% for friend in friends %}
    {{friend}}
   {% endfor %} -->
    <hr>
  <br>

<div id="all_user_profiles">
<ul class="center">
    {% for profile in profiles %}
    <li>
        <div class="index_prof">
        <img class="profile_img_index" src="{{profile.profile_image.url}}"/>
        <span class="index_prof_name">{{profile.profile.username}}</span>
        </div>
        <div class="index_btns">
            {% csrf_token %} 
    {% if user.profile in profile.friends.all %}
    <button class="friend_btn" onclick= "friendshipStatus(this.dataset.message)" data-message="{{profile.id}}">unfriend</button>  
    <button class="message_btn" onclick= "convoButton(this.dataset.message)" data-message="{{profile.profile.username}}">message</button>
    {% else %}  
    {% csrf_token %} 
        <button class="friend_btn" onclick="friendshipStatus(this.dataset.message)" data-message="{{profile.id}}">add friend</button>

    {% endif %}
</div>    
</li>
<hr>
    {% endfor %}

</ul>
 </div>
    </div>

      {% endblock %}