{% extends "registration/layout.html" %}
{%block title %}Login{% endblock %}
  {% block body %}
<main>
  <div class="dm_form center">
    <div class="center" id="logo">
      <p>dM</p>
    </div>
    <p class="dm_form_title">log into your account</p>
    <form class="center"method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="center" type="submit">log in</button>
    </form>
    <p id="signup_p">need an account?<a href="{% url 'signup' %}"> sign up </a></p>
  </div>
</main>
    {% endblock %}