{% extends "registration/layout.html" %}
{%block title %}Signup{% endblock %}
  {% block body %}
  <main>
    <div class="dm_form center">
      <div class="center" id="logo">
        <p>dM</p>
      </div>
      <p class="dm_form_title">create an account</p>
      <form class= "center" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">sign up</button>
      </form>
      <a id="back_to_login" href="{% url 'login' %}">back</a>
    </div>
  </main>
{% endblock %}